body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  text-align: center;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  text-transform: uppercase;
  line-height: 30px;
}

.main-navigation-wrapper {
  width: 100%;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header-logo {
  height: 65px;
  width: 160px;
}

.site-navigation,
.bascet-navigation {
   list-style: none;
}

.site-navigation a:hover,
.bascet-navigation a:hover {
  color: #fb565a;
}


.site-navigation a:focus,
.bascet-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* about */

.about {
  background-color: #eeeeee;
}

.about-columns {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-between;
  margin-bottom: 122px;
}

.about-main-info {
  width: 376px;
}

.about-slider {
 width: 698px;
}

.h3-about {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.p-about {
  color: #283136;
}

.a-about {
  width: 240px;
  height: 50px;
  color: white;
  text-transform: uppercase;
  background-color: #fb565a;
}

.a-about:hover {
  background-color: #e74246;
}

.a-about:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

/* menu */

.menu-navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-bottom: 80px;
}

.menu-item {
  width: 300px;
}

.menu-navigation h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.menu-navigation p {
  color: #283136;
}

.menu-navigation button {
  color: white;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
  width: 160px;
  height: 50px;
}

.menu-button1 {
  background-color: #fb565a;
}

.menu-button2 {
  background-color: #00ca74;
}

.menu-button3 {
  background-color: #efc84a;
}

.menu-button1:focus,
.menu-button2:focus,
.menu-button3:focus {
  color: rgba(255, 255, 255, 0.3);
}

.menu-button1:hover {
  background-color: #e74246;
}

.menu-button1:focus { 
  backgroud-color: #d7373b;
}

.menu-button2:hover {
  background-color: #00bc6c;
}

.menu-button2:focus {
  background-color: #00aa62;
}

.menu-button3:hover {
  background-color: #eab534;
}

.menu-button3:focus {
  background-color: #e5a722;
}

/* info+stats */

.info-stats-columns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 76px;
  padding-top: 80px;
  border-top: 2px solid lightgrey;

}

/* info */

.info {
  width: 650px;
}

.h3-info {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.h4-info {
  text-transform: uppercase;
}

.ul-info {
  list-style: none;
}

.ul-info li {
  color: #283136;
}


/* stats */

.stats {
  width: 360px;
}

.p-stats {
  text-transform: uppercase;
  font-weight: bold;
}

.ul-stats {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.ul-stats li {
  color: #283136;
  line-height: 18px;
}

.info-numbers {
  font-weight: bold;
  font-size: 45px;
  line-height: 10px;
  padding-bottom: 27px;
}

/* partners */

.partners {
  border-top: 2px solid lightgrey;
  padding-top: 46px;
}

.ul-partners {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.li-partner {
  width: 199px;
}

/* описать для всех поведение при наведении? */


/* contacts */
.contacts-map {
  width: 1440-px;
  text-align: center;
}

.h3-contacts {
  text-transform: uppercase;
  font-size: 18px;

}

.p-contacts {
  color: #666666;

}

.contacts-button {
  color: white;
  background-color: #fb565a;
  height: 50px;
  width: 219px;
}

/*contact-us*/
.h2-contact-us {
  font-weight: 500;
  font-size: 45px;
}

.contact-us-button {
  color: white;
  background-color: #fb565a;
  width: 260px;
  height: 50px;
}

/* footer */

.h2-footer {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.p-footer {
  color: #444444;
  line-height: 22px;
}

.ul-footer {
  list-style: none;
}

